
bin/Checkers.exe
bin/Checkersd.exe
.vs/Checkers/v16/.suo
.vs/Checkers/v16/Browse.VC.db
.vs/Checkers/v16/Browse.VC.db-shm
.vs/Checkers/v16/Browse.VC.db-wal
.vs/Checkers/v16/Browse.VC.opendb
.vs/Checkers/v16/ipch/AutoPCH/712f3144238514f6/MAIN.ipch
.vs/Checkers/v16/ipch/AutoPCH/b2345d15e0dbf9f8/MAIN.ipch
.vs/
x64
x64/Debug/
